body{
	font-family: Rockwell, Verdana, sans-serif;
	letter-spacing: 0em;
	color: #353B40;
	margin: 0;
	padding: 0;
	font-size: 1.3em;
}

.mainbody p{
	line-height:160%;
}

.navbar .navbar-inner .nav .actions a {
border: 2px solid #ddd;
padding: 5px;
font-family:consolas;
font-size:15px;
border-radius: 4px;
margin-left: 20px;
margin-top:25px;
text-transform: uppercase;
text-shadow: 0;
}